@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

/* Home Section */

#navbar-link1{
    font-family: "Roboto";
    color: black;
}
#navbar-link2{
    font-family: "Roboto";
    color: black;
}
#navbar-link3{
    font-family: "Roboto";
    color: black;
}
#navbar-link4{
    font-family: "Roboto";
    color: black;
}
#navbar-link5{
    font-family: "Roboto";
    color: black;
}

.navbar-logo{
    height: 80px;
    border-radius: 40px;
}

.banner-section-bg-container{
    background-image: url("https://res.cloudinary.com/dlhgr4yff/image/upload/v1768932227/image_qs6ktq.jpg");
    height: 100vh;
    background-size: cover;
}

.banner-heading{
    color: #fff;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-caption{
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.viewmore-button{
    width: 130px;
    height: 45px;
    color: #fff;
    background-color: #d0b200;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.ordernow-button{
    width: 130px;
    height: 45px;
    color: #d0b200;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #d0b200;
    border-radius: 8px;
}

/* Why Choose Us? Section */

.wcu-section{
    background-color: #f9fbfe;
}
.wcu-heading{
    color: #183b56;
    font-weight: 700;
    font-family: "Roboto";
    font-size: 28px;
}

.wcu-description{
    color: #5a7184;
    font-size: 16px;
    font-family: "Roboto";
}

.card-icon{
    height: 90px;
    width: 87;
}

.wcu-card-heading{
    font-size: 22px;
    font-family: "Roboto";
    color: #323f4b;
    font-weight: 500;
}

.wcu-card-description{
    font-family: "Roboto";
    font-size: 16px;
    color: #7b8734;
}

.wcu-card{
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    background-color: #fff;
    border-radius: 16px;
}

.offers{
    font-style: italic;
    font-weight: 600;
    color: #323f4b;
}

/* Explore Menu Section */

.explore-section-container{
    background-color: #ffff;
}

.menu-heading{
    color: #183b56;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
}

.menu-item-image{
    border-radius: 16px;
}

.menu-item-heading{
    color: #323f4b;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    margin-top: 24px;
}

.menu-item-link{
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.card-items{
    border-radius: 16px;
}

/* SM - Section */
.sm-section{
    background-color: #f9fbfe;
}

.sm-section-image{
    width: 270px;
    border-radius: 5px;
}

.sm-section-heading{
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
    color: #183b56;
    margin-top: 15px;
}

.sm-section-description{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    color: #323f4b;
}

.sm-button{
    color: #fff;
    background-color: #d0b200;
    border-width: 0;
    width: 130px;
    height: 45px;
    border-radius: 10px;
    background-image: linear-gradient(#d0b200, #a58200);
}

.payment-card-image{
    height: 50px;
    width: 50px;
    margin-right: 28px;
}

.thanking-customer-section{
    background-image: radial-gradient(#fff8db, #fae38c);
}

.thanking-customer-section-image{
    width: 270px;
}

.thanking-customer-section-title{
    color: #d0b200;
    font-weight: 800;
}

.fallowUs-section{
    background-color: #fff;
}

.icon{
    color: #d0b200;
    font-size: 35px;
}

.fallow-us-icon-section{
    height: 80px;
    width: 80px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
    background-color: #faf7e8;
    border-radius: 40px;
    margin: 15px;
}

.bottom-section{
    background-color: #0d2436;
}

.para-1{
    color: #959ead;
    font-family: "roboto";
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.para-2{
    color: #959ead;
    font-family: "roboto";
    font-size: 14px;
}








